ul {
  padding: 0;
  margin: 0;
}

body {
  min-width: $width-tablet-device;
  margin: 0 auto;

  @include tablet-primary-text-style;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.container {
  position: relative;
  min-width: $width-tablet-device;
  margin: 0 auto;
}

@media (min-width: $width-desktop-device) {
  .container {
    width: $width-desktop-device;
  }
}
