            /*font-family*/
$primary-font-family: "Open Sans", "Arial", sans-serif;

            /*font-size*/
$tablet-primary-size-text: 16px;
$desktop-primary-size-text: 17px;

$tablet-primary-size-title: 40px;
$desktop-primary-size-title: 53px;

            /*line-height*/
$tablet-primary-line-height-text: 24px;
$tablet-secondary-line-height-text: 48px;

$desktop-primary-line-height-text: 30px;

$tablet-primary-line-height-title: 48px;
$desktop-primary-line-height-title: 57px;

            /*color*/
$primary-font-color: #444444;
$secondary-font-color: #31363f;

            /*bg-color*/
$primary-bg-color: #ffffff;
$secondary-bg-color: #31363f;

            /*device width*/
$width-tablet-device: 780px;
$width-desktop-device: 1180px;

            /*other*/
$burger-bg-color: #ffffff;
