.intro {
  padding: 12px 10px;
  padding-bottom: 90px;

  background-color: #3c3442;
  background-image: url("../img/bg-header-tablet.jpg");
  background-repeat: none;
  background-position: 50% 10%;
}

.intro__info-wrapper {
  max-width: 400px;
  margin-right: auto;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: $width-tablet-device;
  margin: 0 auto;
}

.intro__text {
  position: relative;
  margin: 0;
  margin-left: 30px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);

    display: block;

    background-repeat: none;
  }

  &--data {
    &::before {
      width: 16px;
      height: 16px;
      background-image: url("../img/icons/dates.svg");
    }
  }

  &--location {
    &::before {
      left: -27px;

      width: 11px;
      height: 16px;
      background-image: url("../img/icons/pointer.svg");
    }
  }

  &--translated {
    display: block;
    width: 145px;
    padding: 8px 20px;

    font-size: 12px;
    line-height: 16px;

    border: 2px solid #ffb100;
    cursor: pointer;

    @include primary-hover-active-effects;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -33px;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 20px;
      height: 4px;

      background-color: #ffb100;
    }
    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.intro__btn {
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 44px;
  padding-right: 17px;
  width: 144px;

  font-family: $primary-font-family;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;

  background: none;
  border: 2px solid #ffb100;
  border-radius: 20px;

  @include primary-hover-active-effects;
}

.intro__title {
  position: relative;

  margin-top: 31px;
  margin-bottom: -12px;

  line-height: 45px;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    right: 20px;
    top: -55px;
    display: block;
    width: 50px;
    height: 43px;

    background-image: url("../img/icons/logo.png");
    background-repeat: none;
  }
}

.intro__descriprion {
  padding: 0 45px;
  margin-bottom: 17px;

  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

.intro__subtitle {
  padding: 0 45px;
  margin-bottom: 18px;

  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $width-tablet-device) {
  .intro__btn {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (min-width: $width-desktop-device) {
  .intro {
    padding-bottom: 38px;
  }
  .intro__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: $width-desktop-device;
  }
  .intro__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    align-items: center;
  }
  .intro__info-wrapper {
    width: 295px;
    margin-right: 0px;
  }
  .intro__text {
    &--location {
      flex-wrap: wrap;
    }
  }
  .intro__text {
    &--translated {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .intro__main-wrapper {
    max-width: 600px;
    text-align: left;
    margin-top: 60px;
    margin-left: -10px;
  }
  .intro__title {
    margin-bottom: 0px;
    text-align: left;
    line-height: 48px;

    &::before {
      right: 255px;
      top: -31px;
    }
  }
  .intro__descriprion {
    margin-top: 10px;
    text-align: left;
    padding: 0;
  }
  .intro__subtitle {
    text-align: left;
    padding: 0;
  }
  .intro__btn {
    &--plus {
      margin-bottom: 0;
      margin-top: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
