.main-form {
  position: relative;
  top: -50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 15px;
  max-width: 540px;
  padding: 20px 28px;

  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &--secondary {
    margin: 0;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-form__title {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #282c33;
}

.main-form__input,
.main-form__textarea {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 38px;
  width: 100%;

  @include tablet-primary-text-style;
  font-size: 14px;
  line-height: 24px;
  color: #b0abb3;

  border-radius: 5px;
  border: 2px solid #dddddd;

  &:focus {
    outline: none;
    border: 2px solid #efa704;
  }
}

.main-form__checkbox {
  vertical-align: middle;
}

.main-form__textarea {
  padding-left: 10px;
  resize: none;
  &--description {
    min-height: 70px;
  }
}

.main-form__label {
  position: relative;
  margin-bottom: 11px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;

    display: block;

    background-repeat: repeat-none;
  }
  &--agreement {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    margin-top: 10px;
    width: auto;
    text-align: center;
    cursor: pointer;

  }
  &--name {
    width: 480px;

    &::before {
      width: 15px;
      height: 16px;

      background-image: url("../img/icons/user.svg");
    }
  }
  &--email {
    &::before {
      width: 16px;
      height: 12px;

      background-image: url("../img/icons/mail.svg");
    }
  }
  &--phone {
    &::before {
      width: 11px;
      height: 16px;

      background-image: url("../img/icons/phone.svg");
    }
  }
  &--name-rept {
    width: 100%;
    margin-bottom: 5px;
  }
  &--textarea {
    width: 100%;
    margin-bottom: 0px;
  }
}

.main-form__btn {
  margin: 0 auto;

  &--expand {
    margin: 0 210px;
    margin-bottom: 26px;
    padding: 0;

    background: none;
    border: none;

    @include tablet-primary-text-style;
    font-size: 12px;
    line-height: 24px;
    color: #b0abb3;

    border-bottom: 1px dashed #b0abb3;

    @include primary-hover-active-effects;

    &:active {
      color: #000000;
      opacity: 1;
    }
  }
  &--send {
    margin-bottom: 10px;
    padding: 12px 10px;
    width: 230px;

    font-size: 16px;
    color: #ffffff;

    @include primary-hover-active-effects;
  }
}

.main-form__text {
  &--agreement {
    @include tablet-primary-text-style;
    font-size: 12px;
    color: #b0abb3;
    max-width: 165px;
    line-height: 15px;
  }
}

@media (min-width: 450px) {
  .main-form__text {
    &--agreement {
      max-width: none;
      padding-left: 15px;
    }
  }
}

@media (min-width: 570px) {
  .main-form {
    margin: 0 auto;

    &--secondary {
      margin: 0;
      margin-bottom: -30px;
    }
  }
  .main-form__label {
    &--email,
    &--phone {
      width: 230px;
    }
    &--email {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1000px) {
  .main-form {
    top: -410px;
    right: 56px;
    right: 10px;
    margin-right: 0;

    &--secondary {
      margin: 0;
      margin-bottom: -30px;
      top: -39px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $width-desktop-device) {
  .main-form {
    right: 10px;

    &--secondary {
      margin: 0;
      margin-bottom: -30px;
      top: -39px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
