.page-footer {
  background-color: $secondary-bg-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  flex-wrap: wrap;
}

.page-footer__item {
  margin: 0 auto;

  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 13px;
  line-height: 1.2;

  color: #6b7280;
}

.page-footer__center-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.page-footer__center-logo{
  margin-top: 12px;
}

.page-footer__center-info{
  margin-top: 10px;

  font-size: 13px;
  text-align: center;
  line-height: 16px;

  color: #ffffff;
}

.page-footer__link{
  margin: 0 auto;

  font-size: 13px;
  color: #6b7280;

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 670px) {
  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10px;
  }
  .page-footer__link {
    margin-left: auto;
  }
  .page-footer__item {
    margin: 0;
    margin-right: auto;
    text-align: left;
  }
}

@media (min-width: $width-desktop-device) {
  .page-footer__center-block {
    margin-left: 130px;
  }
}
