.page-main__wrapper-form {
  padding: 0 10px;
  margin-bottom: -30px;
}

@media (min-width: 1000px) {
  .page-main__wrapper {
    &--first {
      margin-top: -392px;
    }
    &--bg {
      background-image: url("../img/bg-main.jpg");
      background-position: center bottom;
      background-size: cover;
      background-repeat: repeat;
    }
    &--bg-sponsoram {
      padding-bottom: 70px;
      background-image: url("../img/bg-main.jpg");
      background-position: center bottom;
      background-size: cover;
      background-repeat: repeat;
    }
  }
  .page-main__wrapper-bg {
    width: 100%;
    padding-bottom: 70px;

    background-image: url("../img/bg-main.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: repeat;
  }
}

@media (min-width: $width-desktop-device) {
  .page-main__wrapper {
    &--second {
      display: flex;
      padding-top: 50px;
    }
    &--bg-sponsoram {
      padding-bottom: 70px;
    }
  }
}
