.question {
  padding: 0 10px;
  padding-top: 62px;
  padding-bottom: 101px;
}

.question__wrapper {
  max-width: 540px;
  margin: 0 auto;
}

.question__item {
  position: relative;
  max-width: 537px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-bottom: 3px;

  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);

  transition-duration: 1s;
}

.question__title {
  max-width: 400px;
  margin-left: 20px;
  margin-bottom: 38px;
  text-align: left;
}

.question__subtitle {
  position: relative;
  padding: 0 20px;
  padding-right: 42px;
  margin-bottom: 13px;
  margin-top: 0;

  font-size: 18px;
  color: #263139;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0px;

    display: block;
    width: 5px;
    height: 5px;

    background-color: #ffb100;
  }
}

.question__text {
  display: none;

  padding: 0 20px;
  font-size: 14px;

  animation-name: questionOpen;
  animation-duration: 0.2s;

  &--visually {
    display: block;
  }
  &--hidden {
    display: none;
  }
}

.question__btn {
  position: absolute;
  top: 7px;
  right: 20px;

  display: block;
  width: 15px;
  height: 15px;

  font-size: 0;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  @include primary-hover-active-effects;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;

    display: block;
    width: 15px;
    height: 3px;

    background-color: #ffb100;
    cursor: pointer;
  }
  &::after {
    transform: rotate(90deg);
  }
  &--opened {
    cursor: default;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $width-desktop-device) {
  .question {
    width: 540px;
    padding: 0;
    padding-top: 0;
    margin-right: auto;
  }
  .question__title {
    padding: 0;
    margin-left: 10px;
    text-align: left;
    max-width: 600px;
    text-align: center;
  }
  .question__title-text {
    text-align: center;
  }
}

@keyframes questionOpen {
  0% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
