.themes__wrapper {
  padding-bottom: 70px;

  background: linear-gradient(45deg, rgba(247,248,248,1) 0%,
                                     rgba(247,248,248,1) 50%,
                                     rgba(255,255,255,1) 50%,
                                     rgba(255,255,255,1) 100%);
}

.themes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: $width-tablet-device;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0 45px;

  list-style: none;
}

.themes__item {
  position: relative;
  width: 180px;
  padding-top: 105px;
  margin-bottom: 40px;

  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1) {
    &::before {
      background-image: url("../img/sprite/icon-1.svg");
    }
  }
  &:nth-child(2) {
    &::before {
      background-image: url("../img/sprite/icon-2.svg");
    }
  }
  &:nth-child(3) {
    &::before {
      background-image: url("../img/sprite/icon-3.svg");
    }
  }
  &:nth-child(4) {
    &::before {
      background-image: url("../img/sprite/icon-4.svg");
    }
  }
  &:nth-child(5) {
    &::before {
      background-image: url("../img/sprite/icon-5.svg");
    }
  }
  &:nth-child(6) {
    &::before {
      background-image: url("../img/sprite/icon-6.svg");
    }
  }
  &:nth-child(7) {
    &::before {
      background-image: url("../img/sprite/icon-7.svg");
    }
  }
  &:nth-child(8) {
    &::before {
      background-image: url("../img/sprite/icon-8.svg");
    }
  }
  &:nth-child(9) {
    &::before {
      background-image: url("../img/sprite/icon-9.svg");
    }
  }
  &:nth-child(10) {
    &::before {
      background-image: url("../img/sprite/icon-10.svg");
    }
  }
}

.themes__text {
  padding: 0 15px;
  margin-bottom: 25px;

  &--align {
    text-align: center;
  }
  &--bold {
    padding: 0;
    font-weight: 700;
  }
  &:last-of-type {
    margin-bottom: 48px;
  }
}

@media (min-width: 666px) {
  .themes__text {
    padding: 0 68px;
    &--bold {
      padding: 0;
    }
  }
}


@media (min-width: $width-desktop-device) {
  .themes__wrapper {
    background: none;
  }
  .themes__title {
    margin-left: -22px;
  }
  .themes__text {
    &--align {
      width: 700px;
      margin: 0 auto;
    }
  }
  .themes__item {
    width: 214px;

    &:last-child {
      margin: 0;
    }
  }
  .themes__list {
    padding: 0;
    margin-bottom: 48px;
  }
}
