.title {
  text-align: center;

  &--align {
    text-align: left;
    margin-bottom: 21px;
  }
  &--width {
    // width: 243px;
  }
}

.title__text {
  position: relative;
  @include tablet-primary-title-style;
  text-transform: uppercase;

  &--video {
    color: #ffffff;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -20px;

    display: block;
    width: 30px;
    height: 2px;

    background-color: #ffb100;
  }
  &::after {
    transform: rotate(90deg);
    left: -34px;
    top: 8px;
  }
}
