.title {
  text-align: center;

  &--align {
    text-align: left;
    margin-bottom: 21px;
  }
}

.title__text {
  position: relative;
  @include mobile-primary-title-style;
  text-transform: uppercase;

  &--video {
    color: #ffffff;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -14px;

    display: block;
    width: 30px;
    height: 2px;

    background-color: #ffb100;
  }
  &::after {
    transform: rotate(90deg);
    left: -28px;
    top: 11px;
  }
}

@media (min-width: 500px) {
  .title__text {
    @include tablet-primary-title-style;

    &--video {
      color: #ffffff;
    }
  }
}

@media (min-width: 690px) {
  .title__text {
    &::before {
      top: -6px;
      left: -20px;
    }
    &::after {
      top: 8px;
      left: -34px;
    }
  }
}

@media (min-width: 1024px) {
  .title__text {
    @include desktop-primary-title-style;

    &--video {
      color: #ffffff;
    }
  }
}
