.video {
  position: relative;
  // top: -148px;
  top: -275px;

  display: block;
  margin: 0 auto;
  width: 320px;
  height: 413px;
  padding-top: 19px;

  text-align: center;

  background-image: url("../img/computer-video.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.video__iframe {
  position: absolute;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 224px;
  height: 136px;
}

@media (min-width: 545px ) {
  .video {
    top: -222px;
    width: 528px;
  }
  .video__iframe {
    top: 93px;
    width: 363px;
    height: 230px;
  }
}

@media (min-width: 818px) {
  .video {
    top: -162px;
    width: 786px;
  }
  .video__iframe {
    top: 35px;
    width: 541px;
    height: 340px;
  }
}

.video__btn {
  position: absolute;
  top: 163px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  width: 67px;
  height: 67px;

  font-size: 0;

  background: none;
  border: none;
  background-image: url("../img/icons/play.png");

  cursor: pointer;

  &:hover {
    transform: scale(1.1) translateX(-45%);
    transition-duration: 0.3s;
    opacity: 0.8;
  }
  &:active {
    outline: none;
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}


@media (min-width: $width-desktop-device) {
  .video {
    margin-top: -190px;
    left: -235px;
  }
}

@media (min-width: 1400px) {
  .video {
    left: -300px;
  }
}
